<div class="modal">
    <div class="modal__content">
        <button class="modal__close js-modal__close" type="button">
            <img src="assets/images/icons/X.svg" alt="Закрыть">
        </button>
        <form action="/" method="post" class="form form--auth">
            <div class="form__group form__group--md">
                <input placeholder="Ваше имя"  type="text" class="form__control">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <input placeholder="Ваш email"  type="email" class="form__control">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <textarea placeholder="текст сообщения" class="form__control--textarea form__control" name="" ></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button  type="submit" class="btn btn--rounded btn--blue">Отправить</button>
                </div>
            </div>
        </form>

        <ul class="modal__footer">
           <li>
               e-mail: <a href="mailto:nik.veras@mail.ru"> nik.veras@mail.ru</a>
           </li>
            <li>
                tel: <a href="tel:88005553535">:  8-800-555-35-35</a>
            </li>
        </ul>
    </div>
</div>