<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="">Статьи</a>
                    <ul class="subnav">
                        <li>
                            <a href="#">Создание сайтов</a>
                        </li>
                        <li>
                            <a href="#">Интернет-маркетинг</a>
                        </li>
                        <li>
                            <a href="#">Продвижение видео</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav__link" href="">Обо мне</a>
                </li>
                <li>
                    <a class="nav__link" href="">Реклама</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="">Профиль</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input type="text" placeholder="Поиск">
        </form>
    </div>

</header>
