<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar/bgc.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img src="https://placehold.it/100" alt="" class="profile__avatar">
            <div class="profile__name">Никита Верас</div>
            <div class="profile__prof">Блог программиста</div>
            
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/social/insta.svg" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/social/vk.svg" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <img src="assets/images/social/pin.svg" alt="">
                    </a>
                </li>
            </ul><!--social-->
            <div class="profile__text">
                Front-end разработчик. Практик верстки сайтов.
                Созданием сайтов занимаюсь с 2020 года.
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="works.html">Мои работы</a>
        <button type="button" class="btn btn--blue js-openModalWriteMe">Написать мне </button>
    </div>
</aside>