<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head>
    {{> head }}
</head>
<body class="no-scroll">
    <div class="page">

        {{> header }}
        {{> sidebar }}

        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>

    </div>

    {{> story-modal }}

    <script src="../assets/js/app.js"></script>
</body>
</html>
